body {
    background-color:#d3d3d31f;
}

nav li {
    display: inline;
}

nav a{
    text-transform: uppercase;
    color: yellow;
    background-color: #091dd2;
}

.texto-principal {
    margin-right: 20%;
}

h1 {
    color: #0931d2;
    text-align: center;
}
h2 {
    color: rgb(65, 50, 234);
}
p {
    color: blue;

}
#imagem-principal {
    width: 15%;
    margin-left: 50%;
    border: 5px dotted #ff0404
    float: left;
    position: absolute;
}

.itens {
    color:  #e9e647;
    text-decoration: underline;
}
.texto-principal {
    margin-right: 20%;
}